<!DOCTYPE html>
<html lang="pt-BR">

<head>
   <% include /templates/head %>
</head>

<body>
    <div id="wrapper">
        <% include /templates/header %>  
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include /templates/footer %>    
</body>
</html>